* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
  color: var(--font-color)
}

html {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

body {
  font-family: var(--font-family);
  page-break-after: always;
  position: relative;
  height: 297mm;
  width: 209.7mm;
}

article {
  page-break-inside: avoid;
}

section {
  display: flex;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:is(:link, :visited, :hover, :active) {
  color: inherit;
}

ul {
  list-style-type: none;
}

.keywords {
  display: none;
}

@page {
  margin: 1.25rem 1.875rem;
}