{{#if descriptions}}
<section id="about">
  <header class="title">Sobre mim</header>
  <ul class="description">
    {{#each descriptions}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</section>
{{/if}}