#graduations {
    display: flex;
    flex-direction: column;
}

#graduations>.graduations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#graduations>.graduations-list>li>article>.graduations-title {
    font-weight: 700;
    color: #2c3e50;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}