#projects {
    display: flex;
    flex-direction: column;
}

#projects>.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Grid for projects */
    gap: 1rem;
}

#projects>.project-list>li>article {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;
}

#projects>.project-list>li>article>.project-title {
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

#projects>.project-list>li>article>figure>.project-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}