#skills {
  padding: 2rem;
}

#skills>.content>.skill-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#skillsList>.item {
  background-color: transparent;
  color: white;
  padding: 0;
  border-radius: 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

#skillsList>.item>.title {
  font-weight: 600;
  margin: 0;
}

#skillsList>.item>.level {
  font-weight: 400;
  opacity: 0.6;
  font-size: 0.8em;
  margin: 0;
  border: none;
  padding: 0;
}