#specializations {
    display: flex;
    flex-direction: column;
}

#specializations>.specializations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#specializations>.specializations-list>li>article>.specializations-title {
    font-weight: 700;
    color: #2c3e50;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}