:is(body) {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-content: center;
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
}

:is(section) {
  gap: 1rem;
  margin-bottom: 2rem;
}

section>.title {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  margin-bottom: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}