#skills {
  flex-direction: column;
  align-items: flex-start;
}

#skills>.title {
  align-self: center;
}

#skills>.content {
  width: 100%;
}

#skills>.content>.skill-list {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style-position: inside;
  list-style-type: disc;
  display: grid;
}