#header {
    background: #ff6b6b;
    /* Creative Red/Coral */
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 50px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#header>.title {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

#header>.contact {
    display: flex;
    gap: 1rem;
    font-weight: 500;
}