/* Shared content styles for Executive */
/* Experience */
#experiences>.experiences-list>li>article {
    border-left: none;
    padding-left: 0;
}

#experiences>.experiences-list>li>article>.occupation-title {
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.25rem;
}

/* Skills - Simple list */
#skills>.content>.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#skills>.content>.skill-list>li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
}

/* Remove icons from body for formal look */
:is(#experiences, #graduations, #specializations, #projects) svg {
    display: none !important;
}

/* Grid for details */
:is(#experiences, #graduations, #specializations) .content {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 0.5rem;
}