#header {
    flex-direction: column;
    align-items: center;
    border-bottom: double 4px var(--font-color);
    padding-bottom: 1.5rem;
    gap: 0.75rem;
}

#header>.title {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header>.contact {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    font-size: 0.9rem;
}

#header>.contact>li>a>svg {
    margin-right: 0.25rem;
}