#graduations {
    flex-direction: column;
}

#graduations>.graduations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#graduations>.graduations-list>li>article {
    display: flex;
    flex-direction: column;
}

#graduations>.graduations-list>li>article>.graduations-title {
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

/* HIDE icon for minimalist style */
#graduations>.graduations-list>li>article>.graduations-title svg {
    display: none !important;
}

#graduations>.graduations-list>li>article>.content {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 0.5rem;
    row-gap: 0.25rem;
    margin-top: 0.25rem;
}