#header {
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: none;
    padding-bottom: 1rem;
}

#header>.title {
    padding-left: 0;
    padding-top: 0;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: 1.1;
}

#header>.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.8;
}

#header>.contact>li>a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}