#specializations {
    flex-direction: column;
}

#specializations>.specializations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#specializations>.specializations-list>li>article {
    display: flex;
    flex-direction: column;
}

#specializations>.specializations-list>li>article>.specializations-title {
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

/* HIDE icon for minimalist style */
#specializations>.specializations-list>li>article>.specializations-title svg {
    display: none !important;
}

#specializations>.specializations-list>li>article>.content {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 0.5rem;
    row-gap: 0.25rem;
    margin-top: 0.25rem;
}