#header>.title {
    font-size: 1.5rem;
    margin: 0;
}

#header>.contact {
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    font-size: 0.8rem;
}

#header>.contact>li>a {
    justify-content: flex-end;
}