/* COMPACT STYLE - 2 Columns Density */
:is(body) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    gap: 1rem;
    padding: 0 1rem;
}

#header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Section Grouping */
#about {
    grid-column: 1 / -1;
}

#experience {
    grid-column: 1 / -1;
}

/* Experience usually takes much space */
#projects {
    grid-column: 1;
}

#graduations {
    grid-column: 2;
}

#skills {
    grid-column: 2;
}

#target {
    grid-column: 1;
}

#specializations {
    grid-column: 2;
}

/* Compact typography */
section>.title {
    font-size: 1rem;
    text-transform: uppercase;
    background: #eee;
    padding: 2px 5px;
    margin-bottom: 0.5rem;
}

svg {
    width: 0.8em !important;
    height: 0.8em !important;
}