#skills>.content>.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

#skills>.content>.skill-list>li {
    font-size: 0.85em;
    background: #f0f0f0;
    padding: 1px 4px;
    border-radius: 2px;
}