{{#if experiences}}
<section id="experiences">
  <h1 class="title">Experiência</h1>
  <ul class="experiences-list">
    {{#each experiences}}
    <li>
      <article class="occupation">
        <h1 class="occupation-title">
          {{> pinIcon}} {{this.title}}
        </h1>
        <div class="content">
          <p>Empresa: </p>
          <p>{{this.company}}</p>
          <p>Período: </p>
          <p>{{this.period}}</p>
          <p>Descrição: </p>
          <p>{{this.description}}</p>
        </div>
      </article>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}