{{#if graduations}}
<section id="graduations">
  <h1 class="title">Formação</h1>
  <ul class="graduations-list">
    {{#each graduations}}
    <li>
      <article class="graduations">
        <h1 class="graduations-title">
          {{> institutionIcon}} {{this.title}}
        </h1>
        <div class="content">
          <p>Instituição: </p>
          <p>{{this.institution}}</p>
          <p>Período: </p>
          <p>{{this.period}}</p>
          <p>Descrição: </p>
          <p>{{this.description}}</p>
        </div>
      </article>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}