<!DOCTYPE html>
<html lang="{{htmlTexts.language}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{headerSection.header.name}} - {{htmlTexts.title}}</title>
  <style>
    {{> rootStyle}}
    {{> baseStyle}}
    {{> resumeStyle}}
    {{> headerStyle}}
    {{> aboutStyle}}
    {{> skillsStyle}}
    {{> targetStyle}}
    {{> graduationStyle}}
    {{> specializationStyle}}
    {{> projectsStyle}}
    {{> experienceStyle}}
  </style>
</head>

<body>
  {{> headerSection}}
  {{> aboutSection}}
  {{> skillSection}}
  {{> targetSection}}
  {{> graduationSection}}
  {{> specializationSection}}
  {{> projectSection}}
  {{> experienceSection}}
</body>

</html>