{{#if skills}}
<section id="skills">
    <h1 class="title">{{skillTexts.title}}</h1>
    <span class="keywords">{{keywords}}</span>
    <div class="content">
      <ul class="skill-list">
        {{#each skills}}
        <li>
          <span>{{this.title}} - {{this.level}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
</section>
{{/if}}
