{{#if specializations}}
<section id="specializations">
  <h1 class="title">Especialização</h1>
  <ul class="specializations-list">
    {{#each specializations}}
    <li>
      <article class="specializations">
        <h1 class="specializations-title">
          {{> diplomaIcon}} {{this.title}}
        </h1>
        <div class="content">
          <p>Instituição: </p>
          <p>{{this.institution}}</p>
          <p>Duração: </p>
          <p>{{this.duration}} horas</p>
          <p>Descrição: </p>
          <p>{{this.description}}</p>
        </div>
      </article>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}