#experience {
  flex-direction: column;
  align-items: flex-start;
}

#experience>.title {
  align-self: center;
}

#experience>.experience-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5625rem;
}

#experience>.experience-list>li>article {
  display: flex;
  padding-left: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
}

#experience>.experience-list>li>article>.occupation-title {
  vertical-align: middle;
  font-size: 1.125rem;
  font-weight: bolder;
}

#experience>.experience-list>li>article>.occupation-title svg {
  width: 1.25rem;
  height: 1.25rem;
  padding-top: 0.125rem;
}

#experience>.experience-list>li>article>.content {
  padding-left: 1.875rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 0.3125rem;
  align-items: start;
}

#experience>.experience-list>li>article>.content>p:nth-child(2) {
  font-weight: bold;
}