* {
  color: #706f6f;
}

body {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-content: center;
}

section {
  gap: 20px;
}

section>.title {
  font-weight: 700;
  font-size: 20px;
}

#header {
  justify-content: space-between;
}

#header>.title {
  padding-left: 15px;
  padding-top: 15px;
  font-size: 31.9px;
  min-width: 65%;
}

#header>.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}

#header>.contact>li>a {
  display: flex;
  align-items: center;
  min-height: 25px;
  gap: 7px;
}

#header>.contact>li>a>svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

#about {
  flex-direction: column;
  align-items: center;
}

#about>.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

#target {
  flex-direction: column;
  align-items: center;
}

#target>.position {
  font-size: 18px;
}

#graduation {
  flex-direction: column;
  align-items: flex-start;
}

#graduation>.title {
  align-self: center;
}

#graduation>.graduation-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px
}

#graduation>.graduation-list>li>article {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px
}

#graduation>.graduation-list>li>article>.graduation-title {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

#graduation>.graduation-list>li>article>.graduation-title svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  padding-top: 2px;
}

#graduation>.graduation-list>li>article>.content {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 5px;
  align-items: start;
}

#graduation>.graduation-list>li>article>.content>p:nth-child(2) {
  font-weight: 600;
}

#specialization {
  flex-direction: column;
  align-items: flex-start;
}

#specialization>.title {
  align-self: center;
}

#specialization>.specialization-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px
}

#specialization>.specialization-list>li>article {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px
}

#specialization>.specialization-list>li>article>.specialization-title {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

#specialization>.specialization-list>li>article>.specialization-title svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  padding-top: 2px;
}

#specialization>.specialization-list>li>article>.content {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 5px;
  align-items: start;
}

#specialization>.specialization-list>li>article>.content>p:nth-child(2) {
  font-weight: 600;
}

#projects {
  flex-direction: column;
  align-items: flex-start;
}

#projects>.title {
  align-self: center;
}

#projects>.project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px
}

#projects>.project-list>li>article.project {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 15px;
}

#projects>.project-list>li>article.project>figure {
  flex: 0 0 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

#projects>.project-list>li>article>figure>svg {
  width: 100%;
  height: 100%;
}

#projects>.project-list>li>article>.content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#projects>.project-list>li>article>.content>.project-title {
  font-size: 18px;
  font-weight: 700;
}

#experience {
  flex-direction: column;
  align-items: flex-start;
}

#experience>.title {
  align-self: center;
}

#experience>.experience-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px
}

#experience>.experience-list>li>article {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px
}

#experience>.experience-list>li>article>.occupation-title {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

#experience>.experience-list>li>article>.occupation-title svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  padding-top: 2px;
}

#experience>.experience-list>li>article>.content {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 5px;
  align-items: start;
}

#experience>.experience-list>li>article>.content>p:nth-child(2) {
  font-weight: 600;
}